# Ignore compiled Java class files
**/*.class

# Ignore packaged files (like JAR, WAR)
**/*.jar

# Ignore target directories and their contents (for Maven)
**/target/

# Ignore temporary and log files
**/*.log
**/*.tmp
